################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrafficBr
/bin/Debug/netcoreapp3.0
/obj
/TrafficBr.csproj
